<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>TestSlimApp</title>
</head>
<body>
<div class="container">
<div class="row">
<div class="col-md-12">
Silex works<br>
Monolog works<br>
Doctrine works<br>
SwiftMailer works<br>
Twig works<br><br>

<ul>
    {% for TEST_DATA in TEST_DATA %}
        <li>{{ TEST_DATA.name|e }} : {{ TEST_DATA.val|e }}</li>
    {% endfor %}
</ul>

</div>
</div>
</div>
</body>
</html>